<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="VMOLink">
    <meta itemprop="description" content="A professional looking link will increase brand recognition and consumer trust in your communications—which in turn inspires even more engagement with your links.">
    <meta itemprop="image" content="https://vmojp.s3.us-east-2.amazonaws.com/banner/vmo-link-2.png">
    
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://nothing.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="VMOLink">
    <meta property="og:description" content="A professional looking link will increase brand recognition and consumer trust in your communications—which in turn inspires even more engagement with your links.">
    <meta property="og:image" content="https://vmojp.s3.us-east-2.amazonaws.com/banner/vmo-link-2.png">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="VMOLink">
    <meta name="twitter:description" content="A professional looking link will increase brand recognition and consumer trust in your communications—which in turn inspires even more engagement with your links.">
    <meta name="twitter:image" content="https://vmojp.s3.us-east-2.amazonaws.com/banner/vmo-link-2.png">

    
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/other_page.css">
</head>
<body>
<div class="container-design">
    <div class="container__body">
        <div class="img_password"></div>
        <div class="content_password">

            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
                <div class="toast" role="alert" style="position: fixed;" aria-live="assertive" aria-atomic="true" data-delay="6000">
                  <div class="toast-header toast-design">
                    <strong class="mr-auto text-warning">COMFIRM ERROR</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div id="display-error" class="toast-body text-muted toast-design" style="font-size: 1.5rem; min-height: 100px; min-width: 300px; text-align: center;">
                  </div>
                </div>
            </div>

            <h3>Request password!</h3>
            <div class="padding-left-right-60">
                <p><b id="shortUrl"><%= shortUrl %></b> request password
                    to access . Just enter your password below to
                    confirm</p>
                <input class="password margin-top-40 width-100" id="password" type="text" placeholder="Enter password">
                <button class="btn__confirm width-100" id="btn-confirm">Confirm</button>
            </div>
            <hr class="divider">
            <a href="/">Back to home page</a>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/password_access_link.js"></script>
</body>
</html>