<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VMO-Slink</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/landing-page.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PNS8GEJH5M"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PNS8GEJH5M');
  </script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/"> <img class="rounded-circle" style="max-height: 40px;" src="/img/Slink.png">VMO-Slink</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if (!logged){%>
          <li class="nav-item">
            <a href="/auth/google" class="btn btn-google btn-user btn-block">
              <i class="fab fa-google fa-fw"></i> Login with Google
            </a>
            <!-- <a class="nav-link text-info" href="/auth/google"><button class="btn btn-block btn-secondary rounded-pill">Signin with Google</button></a> -->
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link text-info" href="/auth/manager"><button class="btn btn-block btn-light rounded-pill">Manager</button></a>
            </li>
          <li class="nav-item">
            <a class="nav-link text-info" href="/logout"><button class="btn btn-block btn-light rounded-pill">Logout</button></a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" id="demo">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-3">Build a shortenLink page for your business and everyone</h2>
          <h4 class="mb-5">You have to login to set password, expire, custom address</h4>
          <!-- <h3 class="mb-2">you have to login to set password, expire, custom address</h3> -->
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="row" id="shorten-link">
          </div>
          <div role="form">
            <div class="row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <div class="form-group">
                  <input type="text" id="long-link" class="form-control form-control-lg"
                    placeholder="Enter your long link...">
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <% if (logged){%>
                  <button id="get-short-link-user" style="background-color: white;
                  color: #857272;
                  border-color: white;" class="btn btn-block btn-lg btn-primary rounded-pill">Shorter</button>
                  <% } else { %>
                  <button id="get-short-link-guest" style="background-color: white;
                  color: #857272;
                  border-color: white;" class="btn btn-block btn-lg btn-primary rounded-pill">Shorter</button>
                  <% } %>
                </div>
              </div>
            </div>
            <!-- <div class="text-left">
              <span class="bg-warning text-dark text-uppercase" style="cursor:pointer;" id="option-advanced">option advanced</span>
            </div> -->
            <div class="custom-control custom-checkbox mb-3 text-left">
              <input type="checkbox" class="custom-control-input" id="option-advanced" name="example1">
              <label style="color:white !important;" class="custom-control-label text-warning" for="option-advanced">Option Advanced</label>
            </div>

            <div id="option-div" class="text-left">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Fully Responsive</h3>
            <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Managing links</h3>
            <p class="lead mb-0">Create, protect and delete your links and monitor them with detailed statistics.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Ready to use with your link, or customize the link!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 h-100 text-center text-lg-center my-auto">
          <p style="font-size: 15px;" class="text-muted small mb-4 mb-lg-0">&copy; Made with VanMy C10 VMOJP </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/home.js"></script>
</body>

</html>