<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="A professional looking link will increase brand recognition and consumer trust in your communications—which in turn inspires even more engagement with your links." />
  <meta name="”robots”" content="index, follow" />
  <meta name="keywords" content="VMO, Startup, CTO, AI, IOT, DX,Blockchain  IT Agency, Scale, Platform, Accelerator , Vietnam, Asia , Hanoi , india , china , system development, website, apps, IOS, Android, Agritech, Healthtech 
    * オフショア,マッチング, システム開発, スタートアップ、ハノイ、ベトナム、グローバル、創業者、起業家、ウェブサイト制作、アプリ、プラットフォーム、コンサルティング, Blockchain, 保険システム、証券システム、物流システム、ソーシャルネットワーク、金融システム、マイグレション、販売システム" />
  <meta property="og:type" content="”website”" />
  <meta property="og:title" content="VMO Link Website" />
  <meta property="og:description" content="A professional looking link will increase brand recognition and consumer trust in your communications—which in turn inspires even more engagement with your links." />
  <meta property="og:image" content="https://images.viblo.asia/4507f993-84f2-4ac5-91a0-6605332be995.png" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="VMO Link Website" />
  <meta property="twitter:description" content="A professional looking link will increase brand recognition and consumer trust in your communications—which in turn inspires even more engagement with your links." />
  <meta property="twitter:image" content="https://images.viblo.asia/4507f993-84f2-4ac5-91a0-6605332be995.png" />
  

  <title>Login</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form action="/login" method="POST" class="user" autocomplete="on">
                    <a href="/auth/google" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/signup">Sign Up.</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/">Back to Home.</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
  <script src="/js/login.js"></script>

</body>

</html>
