<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/other_page.css">
</head>
<body>
<div class="container-design">
    <div class="container__body">
        <div class="img_404"></div>
        <div class="content_404">
            <img src="/img/OBJECTS.png" alt="">
            <p class="description_404 margin-top-100">It took like your found a glitch in the matrix ...</p>
            <a href="/">Back to home page</a>
        </div>
    </div>
</div>
</body>
</html>